
{{>layout/header}}

<div class ='title' id = 'mainTitle'>
    <h1>PORTFOLIO Feedback</h1>
    <span id ='questionMark' ></span>
    <span id ='ggomjae' onclick = "window.open('http://ggomjae.dothome.co.kr/')" ></span>
</div>
<div class ='col-md-12'>
    <div class ="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글등록</a>
            {{#userName}}
                Logged in as : <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class ="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class = "btn btn-secondary active" role="button">Naver Login</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록출력 -->
    <table class = "table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id ="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href = "/posts/get/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal hidden">
        <div class="modal__overlay"></div>
        <div class="modal__content">
            <h1 id="modalCon">1.Please look at my <h1 id = 'hPont'>PORTFOLIO.</h1><h5>[ click : right bearicon ]</h5></h1>
            <h1 id="modalCon">2.Write your own <h1 id = 'hPont'>opinion.</h1></h1>
            <button id ="closeBtn" class = "btn btn-secondary active">Close</button>
        </div>
    </div>
</div>
{{>layout/footer}}
